In [1]:

import pandas as pd
df = pd.read_csv('regression_data.csv', delimiter=";")
print(df.head())

           id        date  bedrooms bathrooms  sqft_living  sqft_lot floors  \
0  7129300520  13/10/2014         3         1         1180      5650      1
1  6414100192  09/12/2014         3      2,25         2570      7242      2
2  5631500400  25/02/2015         2         1          770     10000      1
3  2487200875  09/12/2014         4         3         1960      5000      1
4  1954400510  18/02/2015         3         2         1680      8080      1

   waterfront  view  condition  ...  sqft_above  sqft_basement  yr_built  \
0           0     0          3  ...        1180              0      1955
1           0     0          3  ...        2170            400      1951
2           0     0          3  ...         770              0      1933
3           0     0          5  ...        1050            910      1965
4           0     0          3  ...        1680              0      1987

   yr_renovated  zipcode      lat      long sqft_living15  sqft_lot15   price
0             0    98178  47,5112  -122,257          1340        5650  221900
1          1991    98125   47,721  -122,319          1690        7639  538000
2             0    98028  47,7379  -122,233          2720        8062  180000
3             0    98136  47,5208  -122,393          1360        5000  604000
4             0    98074  47,6168  -122,045          1800        7503  510000

[5 rows x 21 columns]

In [2]:


df.drop(['date'],axis=1, inplace = True )

In [3]:

print(df.shape[0])

21597

In [4]:
print(df['bedrooms'].unique())
print(df['bathrooms'].unique())
print(df['floors'].unique())

print(df['grade'].unique())
print(df['condition'].unique())

[ 3  2  4  5  1  6  7  8  9 11 10 33]
['1' '2,25' '3' '2' '4,5' '1,5' '2,5' '1,75' '2,75' '3,25' '4' '3,5'
 '0,75' '4,75' '5' '4,25' '3,75' '1,25' '5,25' '6' '0,5' '5,5' '6,75'
 '5,75' '8' '7,5' '7,75' '6,25' '6,5']
['1' '2' '1,5' '3' '2,5' '3,5']
[ 7  6  8 11  9  5 10 12  4  3 13]
[3 5 4 1 2]

In [5]:

df.sort_values(by=['price'], ascending=False, inplace=True)

print(df['id'].head(10))

7245    6762700020
3910    9808700762
9245    9208900037
4407    2470100110
1446    8907500070
1313    7558700030
1162    1247600105
8085    1924059029
2624    7738500731
8629    3835500195
Name: id, dtype: int64

In [6]:


print(df['price'].mean())

540296.5735055795

In [7]:
df.groupby("bedrooms").mean()["price"]
df.groupby("bedrooms").mean()["sqft_living"]


import matplotlib.pyplot as plt


df.corr()

print(df['grade'].corr(df['condition']))

C:\Users\Familia\AppData\Local\Temp\ipykernel_13564\1998100147.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("bedrooms").mean()["price"]
C:\Users\Familia\AppData\Local\Temp\ipykernel_13564\1998100147.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("bedrooms").mean()["sqft_living"]

-0.1468958009100885

C:\Users\Familia\AppData\Local\Temp\ipykernel_13564\1998100147.py:8: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

In [8]:
df.groupby("waterfront").mean()["price"]

C:\Users\Familia\AppData\Local\Temp\ipykernel_13564\3013428969.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("waterfront").mean()["price"]

waterfront
0    5.317623e+05
1    1.662524e+06
Name: price, dtype: float64

In [9]:
df.groupby("bedrooms").mean()["sqft_living"]

C:\Users\Familia\AppData\Local\Temp\ipykernel_13564\1272259036.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("bedrooms").mean()["sqft_living"]

bedrooms
1      888.153061
2     1239.752899
3     1805.837235
4     2554.649666
5     3047.545284
6     3284.341912
7     3974.210526
8     3800.000000
9     3775.000000
10    3706.666667
11    3000.000000
33    1620.000000
Name: sqft_living, dtype: float64

In [10]:
df.groupby("bedrooms").mean()["price"]

C:\Users\Familia\AppData\Local\Temp\ipykernel_13564\1614423611.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("bedrooms").mean()["price"]

bedrooms
1     3.182395e+05
2     4.013877e+05
3     4.662766e+05
4     6.355647e+05
5     7.868741e+05
6     8.258535e+05
7     9.514478e+05
8     1.105077e+06
9     8.939998e+05
10    8.200000e+05
11    5.200000e+05
33    6.400000e+05
Name: price, dtype: float64

In [11]:
# Get the number of houses in each category

df.groupby("bathrooms").count()["price"]

bathrooms
0,5        4
0,75      71
1       3851
1,25       9
1,5     1445
1,75    3048
2       1930
2,25    2047
2,5     5377
2,75    1185
3        753
3,25     589
3,5      731
3,75     155
4        136
4,25      79
4,5      100
4,75      23
5         21
5,25      13
5,5       10
5,75       4
6          6
6,25       2
6,5        2
6,75       2
7,5        1
7,75       1
8          2
Name: price, dtype: int64

In [12]:
df.groupby("bedrooms").count()["price"]

bedrooms
1      196
2     2760
3     9824
4     6882
5     1601
6      272
7       38
8       13
9        6
10       3
11       1
33       1
Name: price, dtype: int64

In [13]:
df.groupby("sqft_living").count()["price"]

sqft_living
370      1
380      1
390      1
410      1
420      2
        ..
9640     1
9890     1
10040    1
12050    1
13540    1
Name: price, Length: 1034, dtype: int64

In [14]:
df.groupby("floors").count()["price"]

floors
1      10673
1,5     1910
2       8235
2,5      161
3        611
3,5        7
Name: price, dtype: int64

In [15]:
df.groupby("grade").count()["price"]

grade
3        1
4       27
5      242
6     2038
7     8974
8     6065
9     2615
10    1134
11     399
12      89
13      13
Name: price, dtype: int64

In [16]:
df.groupby("view").count()["price"]

view
0    19475
1      332
2      961
3      510
4      319
Name: price, dtype: int64

In [17]:
df.groupby("condition").count()["price"]

condition
1       29
2      170
3    14020
4     5677
5     1701
Name: price, dtype: int64

In [18]:
df.groupby("waterfront").count()["price"]

waterfront
0    21434
1      163
Name: price, dtype: int64

In [19]:
df.groupby("view").count()["price"]

view
0    19475
1      332
2      961
3      510
4      319
Name: price, dtype: int64

In [23]:
df.groupby("long").count()["price"]

long
-121,315    2
-121,316    1
-121,319    1
-121,321    1
-121,325    1
           ..
-122,511    2
-122,512    1
-122,514    1
-122,515    1
-122,519    1
Name: price, Length: 751, dtype: int64

In [22]:
df.groupby("lat").count()["price"]

lat
47,1559    1
47,1593    1
47,1622    1
47,1647    1
47,1764    1
          ..
47,7771    2
47,7772    3
47,7774    1
47,7775    3
47,7776    3
Name: price, Length: 5033, dtype: int64

In [24]:
df.groupby("sqft_living15").count()["price"]

sqft_living15
399     1
460     2
620     2
670     1
690     2
       ..
5600    1
5610    1
5790    6
6110    1
6210    1
Name: price, Length: 777, dtype: int64

In [25]:
df.groupby("sqft_lot15").count()["price"]

sqft_lot15
651       1
659       1
660       1
748       2
750       4
         ..
434728    1
438213    1
560617    1
858132    1
871200    1
Name: price, Length: 8682, dtype: int64

In [26]:
df.groupby("sqft_above").count()["price"]

sqft_above
370     1
380     1
390     1
410     1
420     2
       ..
7880    1
8020    1
8570    1
8860    1
9410    1
Name: price, Length: 942, dtype: int64

In [27]:
df.groupby("sqft_basement").count()["price"]

sqft_basement
0       13110
10          2
20          1
40          4
50         11
        ...
3260        1
3480        1
3500        1
4130        1
4820        1
Name: price, Length: 306, dtype: int64

In [28]:
df.groupby("yr_built").count()["price"]

yr_built
1900     87
1901     29
1902     27
1903     46
1904     45
       ...
2011    130
2012    170
2013    201
2014    559
2015     38
Name: price, Length: 116, dtype: int64

In [29]:
df.groupby("yr_renovated").count()["price"]

yr_renovated
0       20683
1934        1
1940        2
1944        1
1945        3
        ...
2011       13
2012       11
2013       37
2014       91
2015       16
Name: price, Length: 70, dtype: int64

In [30]:
df.groupby("zipcode").count()["price"]

zipcode
98001    361
98002    199
98003    280
98004    317
98005    168
        ...
98177    255
98178    262
98188    136
98198    280
98199    317
Name: price, Length: 70, dtype: int64

In [ ]:
# find a house with Number of bedrooms either 3 or 4,Bathrooms more than 3,One Floor, No waterfront, Condition should be 3 at least, Grade should be 5 at least, Price smaller than 300000

df[((df['bedrooms'] == 3) | (df['bedrooms'] == 4)) & (df['bathrooms'] > 3) & (df['floors'] == 1) & (df['waterfront'] == 0) & (df['condition'] >= 3) & (df['grade'] >= 5) & (df['price'] < 300000)]